body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    font-size: 1px;
}

.squares {
    box-sizing: border-box;
    border: 1px black solid;
    flex: 1 0 auto;
    width: 30em;
    height: 30em;
}

.newsquares {
    box-sizing: border-box;
    border: 1px red solid;
    flex: 1 0 auto;
}

.res {
    width: 75px;
    padding: 10px;
    background-color: lime;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}



